* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    width: 100%;
    background: #232323;
  }

  .main {
    width: 550px;
    height: 350px;
    background: lightblue;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    gap: 30px;
  }

  .clock{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .block{
    width: 85px;
    height: 85px;
    background: #000;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 35px;
    font-weight: bold;
  }

  span{
    font-size: 45px;
  }